body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

/* Navigation */
nav {
    padding: 16px;
    border-bottom:1px solid black;
    background-color: #ff5a34;
}

nav > a {
    color: white;
    text-decoration: none;
}

/* Body */
.veggie-header {
    color: #146152;
}

.ingredients-body > tr:nth-child(2n) {
    background-color: #e5e5e5;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
}

/* Footer */
footer {
    padding-top:24;
    padding-bottom:24px;
    padding-left: 0px;;
    padding-right: 0px;
}

img {
    height: 200px;
}



a.no-underline {
    text-decoration: none;
}

a.nav-no-underline {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
}

footer {
    padding:40px 0;
    background-color: lightgreen;
    font-size: 2em;
}